.container {
	background-color: #C0C0C0;
	float: left;
	width: 100%;
	height: 800px;
	display: flex;
}


.field {
	/*border: dotted;*/
	background-color: white;
	width: 400px;
	height: 600px;
	text-align: center;
	margin: auto;
	float: left;
	padding-top: 50px;
	font-family: sans-serif;
}
